<div class="clearfix fill-height">
    <div class="container p-20 pos-rel fill-height">
        <div class="col-md-12 col-sm-12 content-padding-no">
            <div class="aui-page-header-inner" style="margin-bottom: 10px">
                <div class="aui-page-header-main">
                    <p>Select a project and the set of triggers when this rule should be executed.</p>
                </div>
                <div class="aui-toolbar2-secondary user-alerts">
                    <span class="aui-primary-color"><b>Important:</b> At least one project should be selected for triggers to work.</span>
                </div>
            </div>

            <div class="aui-group" id="triggersSection" ng-style="showTriggesrPanel ? {'width':'100%'} : {'width':'70%'}">

                <div class="aui-item-container projects {{showTriggesrPanel ? 'width-50' : 'width-100'}}">
                    <div class="shadowed-item">
                        <h5 class="project-header">Projects</h5>
                        <form class="aui m-0">
                            <fieldset class="group">
                                <span class="aui-icon aui-icon-small aui-iconfont-search-small search-input-icon">Search projects</span>
                                <input placeholder="Search projects" class="text long-field selected-search" type="text" id="searchprojects" name="searchprojects" ng-model="projectsearch"
                                       style="    margin-top: 10px;">


                                <div class="sf-padding select-item-body custom-scroll">
                                    <ul class="unstyled project-list">
                                        <li ng-click="SetProjectTrigger(project,$event);toggleTriggersPanel(true,project);" ng-repeat="project in projectList | filter : projectsearch">
                                            <input class="styled-checkbox"
                                                   ng-click="addedProject(project)"
                                                   ng-disabled="project.check"
                                                   type="checkbox"
                                                   name="{{project.key}}"
                                                   id="{{project.key}}"
                                                   ng-model="project.check"
                                                   ng-checked="project.check">
                                            <label for="{{project.key}}">{{project.key}} - {{project.name}}</label>
                                            <span ng-if="project.check" class="aui-icon aui-icon-small aui-iconfont-edit-small edit-project-triggers-btn" ng-click="SetProjectTrigger(project,$event);toggleTriggersPanel(true,project)"></span>
                                        </li>
                                    </ul>
                                    <!--<input type="checkbox" ng-click="selectAllprojects($event)"> <label>Select All</label>-->
                                    <!--<div class="checkbox" ng-repeat="project in projectList | filter : projectsearch">-->
                                    <!--<input ng-click="addedProject(project)" class="checkbox" type="checkbox" name="{{project.key}}" id="{{project.key}}" ng-model="project.check"-->
                                    <!--ng-checked="project.check">-->
                                    <!--<label for="{{project.key}}">{{project.key}} - {{project.name}}</label>-->
                                    <!--</div>-->
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>

                <div class="aui-item-container triggers">
                    <div class="shadowed-item">
                        <h5 class="trigger-header">Triggers<span class="aui-icon aui-icon-small aui-iconfont-close-dialog edit-project-triggers-btn" ng-click="toggleTriggersPanel(false)" style="display: inline-block;float: right;cursor: pointer"></span></h5>
                        <form class="aui">
                            <form class="aui">
                                <fieldset class="group">
                                    <span class="aui-icon aui-icon-small aui-iconfont-search-small search-input-icon"></span>
                                    <input placeholder="Search triggers" class="text long-field selected-search" type="text" id="searchtriggers" name="searchtriggers" ng-model="triggersearch">
                                    <div class="sf-padding select-item-body custom-scroll">
                                        <ul class="unstyled">
                                            <li class="mb-20 mt-0">
                                                <input class="styled-checkbox"
                                                       type="checkbox"
                                                       name="selectAllTriggers"
                                                       id="selectAllTriggers"
                                                       ng-click="selectAlltriggers($event)">
                                                <label for="selectAllTriggers" class="mainchild">Select All</label>
                                            </li>
                                            <li ng-repeat=" trigger in triggersOption | filter : triggersearch">
                                                <input class="styled-checkbox"
                                                       ng-click="addedTrigger(trigger)"
                                                       type="checkbox"
                                                       name="{{trigger.code}}"
                                                       id="{{trigger.code}}"
                                                       ng-model="trigger.check"
                                                       ng-checked="trigger.check">
                                                <label for="{{trigger.code}}">{{trigger.Name}}</label>
                                            </li>
                                        </ul>
                                        <!--<div class="checkbox" ng-repeat=" trigger in triggersOption | filter : triggersearch">-->
                                        <!--<input ng-click="addedTrigger(trigger)" class="checkbox" type="checkbox" name="{{trigger.code}}" id="{{trigger.code}}" ng-model="trigger.check"-->
                                        <!--ng-checked="trigger.check">-->
                                        <!--<label for="{{trigger.code}}">{{trigger.Name}}</label>-->
                                        <!--</div>-->
                                    </div>
                                </fieldset>
                            </form>
                        </form>
                        <button ng-click="saveProjectTrigger();toggleTriggersPanel(false)">Done</button>
                    </div>
                </div>

            </div>

            <!-- <div class="clearfix">
                <label class="checkbox-inline" ng-repeat=" trigger in triggersOption" ng-class="{'btn btn-success' : trigger.check, 'btn btn-primary' : !trigger.check}"
                    ng-click="addedTrigger(trigger)">
                    <input type="checkbox" value="" ng-model="trigger.check" ng-checked="trigger.check" id="{{trigger.Name}}">{{trigger.Name}}
                </label>
            </div> -->
        </div>
        <div class="overhead-container">
            <div class="overhead-container-header">
                <h4>Selected</h4>
                <span class="selector-notif"><span class="aui-icon aui-icon-small aui-iconfont-approve primary-success mr-10"></span>{{selectedItemType + selectedItemState}}</span>
                <button class="aui-button" type="button" ng-click="expandSelected()">
                    <span class="aui-icon aui-icon-small aui-iconfont-{{selectedExpanded ? 'arrow-down' : 'arrow-up'}}">Show selected</span>
                </button>
            </div>

            <!--Unsorted Projects+Triggers container-->
            <!--<div class="overhead-container-body" ng-if="selectedExpanded">-->
                <!--<div class="overhead-section">-->
                    <!--<span class="section-header">Selected projects</span>-->
                    <!--<div>-->
                        <!--<span ng-repeat="project in projectList | filter : { check: true }" class="section-item-pill label-primary">{{project.key}} - {{project.name}}</span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="overhead-section">-->
                    <!--<span class="section-header">Selected triggers</span>-->
                    <!--<div>-->
                        <!--<span ng-repeat="project in triggersOption | filter : { check: true }" class="section-item-pill label-success" style="margin-right: 5px;margin-bottom: 5px;float: left;">{{project.Name}}</span>-->
                    <!--</div>-->
                    <!--<br>-->
                <!--</div>-->
            <!--</div>-->
            <!--Unsorted Projects+Triggers container - END-->

            <div class="overhead-container-body" ng-if="selectedExpanded">
                <div class="head">
                    <span>Project</span>
                    <span>Triggers</span>
                    <span></span>
                </div>
                <div class="clearfix mb-10" ng-repeat="project in projectsWithTriggers">
                    <div class="overhead-section">
                        <div>
                            <span class="section-item-pill label-primary">{{project.project.key}} - {{project.project.name}}</span>
                        </div>
                    </div>
                    <div class="overhead-section">
                        <div>
                            <span ng-repeat="tr in project.triggers" class="section-item-pill label-success" style="margin-right: 5px;margin-bottom: 5px;float: left;">{{tr.code}}</span>
                        </div>
                        <br>
                    </div>
                    <div class="overhead-controls">
                        <span class="aui-icon aui-icon-small aui-iconfont-delete" ng-click="removeSelectedProject(project)"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>