<!doctype html>
<html lang="en" ng-app="sfJira" manifest="smoothflow-Jira.3.0.1">

<head>
    <meta charset="UTF-8">
    <title>SmoothFlow Automation for JIRA</title>
    <link rel="stylesheet" href="core/styles/style.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="bower_components/angular-ui-switch/angular-ui-switch.css">-->

    <!--<link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/6.0.8/css/aui.min.css" media="all">-->
    <!--<link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/6.0.8/css/aui-experimental.min.css" media="all">-->

    <link rel="stylesheet" href="aui/css/aui-extended-sf.css">
    <link rel="stylesheet" href="aui/css/aui-experimental.css">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700|Open+Sans:400,700|Source+Code+Pro:300,600" rel="stylesheet">
    <link href="bower_components/angular-screenshot/build/angular-screenshot.min.css" rel="stylesheet" />
</head>

<body>
    <!--<div ng-cloak ng-controller="ScreenshotController" style="position: absolute;width:  100%;height: 100%;">-->
        <!--<button title="Capture screen for feedback" id="captureButton" class="btn btn-fab" ng-class="{true: 'btn-danger', false: 'btn-default'}[isUrlOpen]" ng-click="displayHideScreenshot()"-->
                <!--style="bottom:  0;right: 0;position:  absolute;margin-bottom: 20px;margin-right: 20px;z-index:  100;width: 40px;height: 40px;border-radius: 50%;box-shadow: 0px 3px 6px hsla(0, 0%, 0%, 0.5);padding: 10px;background: #e96a1f;color: #ffffff;border-color: #ffffff">-->
            <!--<span class="aui-icon aui-icon-small aui-iconfont-file-image"></span>-->
            <!--&lt;!&ndash;<div ng-if="isUrlOpen"></div>&ndash;&gt;-->
        <!--</button>-->

        <!--<screenshot id="screenFilter" ng-cloak is-open="isUrlOpen" api="imageApi" style="width: 100%;height: 100%;position:  absolute;left: 0;top: 0;">-->
            <!--<screenshot-toolbox>-->
                <!--<div class="btn-group-sm">-->
                    <!--<span style="color: #ffffff;margin-right: 10px">[ Right click to <b>EXIT</b> ]</span>-->
                    <!--<button ng-cloak class="btn btn-success" ng-click="sendImage()" style="font-size: 14px;color: #ffffff;background: #8BC34A">-->
                        <!--<span class="aui-icon aui-icon-small aui-iconfont-jira-completed-task" style="margin-right: 5px"></span> Create Ticket-->
                    <!--</button>-->
                <!--</div>-->
            <!--</screenshot-toolbox>-->
        <!--</screenshot>-->
    <!--</div>-->
    <div ng-controller="MainController" class="ac-content">
        <div id="loading" class="aui-page-notification aui-page-focused-medium">
            <!--<div class="aui-page-panel">-->
                <!--<div class="aui-page-panel-inner">-->
                    <!--<section class="aui-page-panel-content">-->
                        <!--<div class="button-spinner"></div>-->
                        <!--<h2 id="busycontent">Loading...</h2>-->
                    <!--</section>-->
                <!--</div>-->
            <!--</div>-->
            <div class="page-notif-content">
                <div class="button-spinner"></div>
                <div id="busycontent"><h2>Loading automations...</h2></div>
            </div>
        </div>
        <div id="page">
            <header id="header" role="banner" style="overflow: auto;position:relative;z-index: 2;">
                <nav class="aui-header aui-dropdown2-trigger-group" role="navigation">
                    <div class="aui-header-inner">
                        <div class="aui-header-primary">
                            <div ng-click="$root.changeLocation('home')" class="navbar-brand">
                                <!--<img src="//dev.smoothflow.io/app/images/sf-full-small.png" alt="SmoothFlow">-->
                                <img src="core/images/smooth_flow_dev.png">
                            </div>
                            <div class="bar-buttons">
                                <button class="aui-button" type="button" ng-click="$root.changeLocation('home')">Automations</button>
                                <!-- <button class="aui-button" type="button" ng-click="$root.changeLocation('dashboard')">Dashboard</button> -->
                                <button class="aui-button" type="button" ng-click="$root.changeLocation('feedback')">Feedback</button>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>
            <section id="content" role="main" ng-class="{'custom-scroll':listState == 'home'}">
                <div ui-view id="main-view"></div>
            </section>
        </div>
    </div>

    <script id="connect-loader" data-options="sizeToParent:true;hideFooter:true;">
        (function () {
            var getUrlParam = function (param) {
                var codedParam = (new RegExp(param + '=([^&]*)')).exec(window.location.search)[1];
                return decodeURIComponent(codedParam);
            };

            var baseUrl = getUrlParam('xdm_e') + getUrlParam('cp');
            var options = document.getElementById('connect-loader').getAttribute('data-options');

            var script = document.createElement("script");
            //script.src = baseUrl + '/atlassian-connect/all.js';
            script.src = baseUrl + '/atlassian-connect/all-debug.js';

            if (options) {
                script.setAttribute('data-options', options);
            }

            document.getElementsByTagName("head")[0].appendChild(script);
        })();
    </script>

    <div class="main-container" ng-controller="MainController"></div>

    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-screenshot/build/angular-screenshot.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="bower_components/ng-textcomplete/ng-textcomplete.js"></script>
    <!--<script type="text/javascript" src="bower_components/angular-ui-switch/angular-ui-switch.js"></script>-->
    <script type="text/javascript" src="bower_components/angular-filter/dist/angular-filter.js"></script>
    <!-- <script type="text/javascript" src="//dev.smoothflow.io/app/js/uimicrokernel.js"></script> -->
    <script type="text/javascript" src="js/uimicrokernel.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <!-- <script type="text/javascript" src="//dev.smoothflow.io/app/js/runtimedatastore.js"></script> -->
    <script type="text/javascript" src="js/runtimedatastore.js"></script>
    <script type="text/javascript" src="core/controllers/main.controller.js"></script>
    <script type="text/javascript" src="core/controllers/audit.controller.js"></script>
    <script type="text/javascript" src="core/controllers/screenshot.controller.js"></script>
    <script type="text/javascript" src="core/controllers/feedback.controller.js"></script>
    <script type="text/javascript" src="core/controllers/trigger.controller.js"></script>
    <script type="text/javascript" src="core/services/triggerdataservice.js"></script>
    <script type="text/javascript" src="core/js/angular-cron-generator.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/6.0.8/js/aui.min.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/6.0.8/js/aui-experimental.min.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/6.0.8/js/aui-datepicker.min.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/6.0.8/js/aui-soy.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        AJS.$('#captureButton').tooltip({'gravity':'se'});
    </script>
</body>

</html>