<div>
    <div class="row title-search-wrap">
        <div class="col-md-2 col-sm-2 content-padding-no">
            <div class="inner-heading">Audit log</span></div>
        </div>
        <div class="col-md-10 col-sm-10 content-padding-no">
            <div class="input-group title-search">
                <input type="text" class="form-control" placeholder="Search" ng-model="searchKey">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit" ng-click="searchlog(searchKey)">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix content-padding content-padding-t">
        <ul class="nav nav-tabs" style="margin-top: 10px;">
            <li class="active"><a data-toggle="tab" href="rule.audit.#PE">Process Engine</a></li>
            <li><a data-toggle="tab" href="rule.audit.#ACT">Activity</a></li>
            <li><a data-toggle="tab" href="rule.audit.#WF">Workflow</a></li>
        </ul>
        <div class="tab-content content-padding-t">
            <div id="PE" class="tab-pane fade in active">
                <pre ng-if="processEngine.SessionDetails !=''">{{processEngine.SessionDetails}}</pre>
                <pre ng-if="processEngine.SessionDetails ==''">{{processEngine.Message}}</pre>
            </div>
            <div id="ACT" class="tab-pane fade">
                <pre ng-if="activity.SessionDetails !=''">{{activity.SessionDetails}}</pre>
                <pre ng-if="activity.SessionDetails ==''">{{activity.Message}}</pre>
            </div>
            <div id="WF" class="tab-pane fade">
                <pre ng-if="workflow.SessionDetails !=''">{{workflow.SessionDetails}}</pre>
                <pre ng-if="workflow.SessionDetails ==''">{{workflow.Message}}</pre>
            </div>
        </div>
    </div>
</div>
