<div class="container">
    <header class="aui-page-header p-15">
        <div class="aui-page-header-inner">
            <div class="aui-group">
                <div class="aui-page-header-main">
                    <h4>Audit log</h4>
                </div>
                <div class="aui-page-header-main">
                    <!-- <form class="aui">
                        <div class="wrap field-group aui-quicksearch" style="padding: 4px 0;">
                            <span class="value">
                                <input class="text long-field" type="text" id="name" name="name" ng-model="searchKey" placeholder="Search.." style="max-width: 100%;">
                            </span>
                        </div>
                    </form> -->
                </div>
            </div>
        </div>
    </header>
    <div class="clearfix">
        <div ng-if="selectedLogDetails !=''">
            <h4>Log Details</h4>
            <pre>{{selectedLogDetails}}</pre>
        </div>
        <table class="aui aui-table-sortable">
            <thead>
                <tr>
                    <th>All logs</th>
                    <tr>
            </thead>
            <tbody>
                <tr class="clikbl-list-item" ng-repeat="log in AllLogs" ng-click="getLogDetails(log)">
                    <td>
                        {{log}}
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- <div class="aui-tabs horizontal-tabs">
            <ul class="tabs-menu">
                <li class="menu-item active-tab">
                    <a href="#rule.audit.#PE">Process engine</a>
                </li>
                <li class="menu-item">
                    <a href="#rule.audit.#ACT">Activity</a>
                </li>
                <li class="menu-item">
                    <a href="#rule.audit.#WF">Workflow</a>
                </li>
            </ul>
            <div class="tabs-pane active-pane" id="rule.audit.#PE">
                <pre ng-if="processEngine.SessionDetails !=''">{{processEngine.SessionDetails}}</pre>
                <pre ng-if="processEngine.SessionDetails ==''">{{processEngine.Message}}</pre>
            </div>
            <div class="tabs-pane" id="rule.audit.#ACT">
                <pre ng-if="activity.SessionDetails !=''">{{activity.SessionDetails}}</pre>
                <pre ng-if="activity.SessionDetails ==''">{{activity.Message}}</pre>
            </div>
            <div class="tabs-pane" id="rule.audit.#WF">
                <pre ng-if="workflow.SessionDetails !=''">{{workflow.SessionDetails}}</pre>
                <pre ng-if="workflow.SessionDetails ==''">{{workflow.Message}}</pre>
            </div>
        </div> -->
    </div>

</div>