<div class="container">
    <header class="aui-page-header p-15 ph-0">
        <div class="aui-page-header-inner">
            <div class="aui-page-header-main">
                <h4>Audit log</h4>
            </div>
        </div>
    </header>

    <div ng-if="selectedRule.status == 'Published'" class="clearfix">
        <div ng-if="selectedLogDetails !=''">
            <h4>Log Details</h4>
            <pre>{{selectedLogDetails}}</pre>
        </div>
        <table class="aui aui-table-sortable">
            <thead>
                <tr>
                    <th style="background-color: #ffeded;">Error Logs</th>
                    <tr>
            </thead>
            <tbody>
                <tr class="clikbl-list-item" ng-repeat="log in ErrorLogs" ng-click="getLogDetails(log)">
                    <td>
                        {{log}}
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="aui aui-table-sortable">
                <thead>
                    <tr>
                        <th style="background-color: #e4fbe4;" >Success Logs</th>
                        <tr>
                </thead>
                <tbody>
                    <tr class="clikbl-list-item" ng-repeat="log in SuccessLogs" ng-click="getLogDetails(log)">
                        <td>
                            {{log}}
                        </td>
                    </tr>
                </tbody>
            </table>
    </div>
    <div ng-if="selectedRule.status != 'Published'">
        <div class="text-center">
            <span class="aui-icon aui-icon-small aui-iconfont-error"></span>
            <h3>This rule is not yet published!</h3>
        </div>
        <div class="text-center">
            <h5>Please publish this rule to see the logs.</h5>
        </div>
    </div>

</div>