<div id="home" class="clearfix">

    <div class="home-templates-section">
        <div class="aui-page-header-inner" style="position: absolute;right: 5px;top: 5px;">
            <div class="aui-page-header-actions">
                <div>
                    <!--<button id="dialog-show-button" class="aui-button aui-button-primary" ng-click="newRule()">+ New rule</button>-->
                </div>
            </div>
        </div>
        <div class="home-templates-wrap">
            <div class="new-rule-section">
                <div class="template new-rule" id="dialog-show-button" ng-click="newRule(null, false)">
                    <div>+</div>
                    <span style="height: 50px;max-height: 50px">New Bot</span>
                </div>
            </div>
            <div class="template" title="Create {{t.DisplayName}} automation" ng-repeat="t in templates" ng-click="newRule(t, true)">
                <div>
                    <img src="core/images/template-01.svg" alt="">
                </div>
                <span>{{t.DisplayName}}</span>
            </div>
        </div>
        <!--NEW RULES INJECTION-->
        <div ng-include="'content/home/partials/new-rule-aui.html'"></div>
        <!-- / NEW RULES INJECTION-->
        <!--<script>-->
			<!--AJS.$("#dialog-show-button").click(function () {-->
				<!--AJS.dialog2("#new-rule-dialog").show();-->
			<!--});-->
            <!--AJS.$(".template").tooltip();-->
        <!--</script>-->
    </div>
    <div class="aui-navgroup-horizontal">
        <header class="aui-page-header">
            <div class="aui-page-header-inner">
                <div class="aui-page-header-main">
                    <h4>Current automations</h4>
                </div>
                <div class="aui-page-header-actions">
                    <div>
                        <button class="aui-button" ng-click="refresh()">
                            <span class="aui-icon aui-icon-small aui-iconfont-build">Refresh</span>
                        </button>
                        <button class="aui-button" ng-click="movetoImport()">
                            <span class="aui-icon aui-icon-small aui-iconfont-deploy">Import</span>
                        </button>
                    </div>
                </div>
            </div>
        </header>
    </div>

    <!--CREATED RULES INJECTION-->
    <div ng-include="'content/home/partials/current-rules-aui.html'"></div>
    <!-- / CREATED RULES INJECTION-->
    <!--IMPORT INJECTION-->
    <div ng-include="'content/home/importexport/rule-import-dialog.html'"></div>
    <!-- / IMPORT INJECTION-->

</div>