<div class="clearfix" id="triggers">

    <div class="row main-header-bar">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <h3>SmoothFlow</h3>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 text-right">
            <h3><button class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Back</button></h3>
        </div>
    </div>

    <div class="clearfix">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div ng-include="'shared/properties-pane/rule-details/rule-details.html'"></div>
        </div>
    </div>
</div>