<section role="dialog" id="new-feedback-dialog" class="aui-layer aui-dialog2 aui-dialog2-medium" aria-hidden="true">
    <header class="aui-dialog2-header">
        <h2 class="aui-dialog2-header-main">New Feedback</h2>
        <a class="aui-dialog2-header-close">
            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
        </a>
    </header>
    <div class="aui-dialog2-content">
        <form class="aui m-0">
            <div class="field-group">
                <label for="TicketName">Ticket Name
                    <span class="aui-icon icon-required">(required)</span>
                </label>
                <input class="text long-field" type="text" id="TicketName" name="TicketName" ng-model="ticket.taskcode">

            </div>
            <div class="field-group">
                <label for="description">Description</label>
                <textarea class="textarea long-field" name="description-input" id="description-input" ng-model="ticket.description" placeholder="Description"></textarea>
            </div>
            <!--<div class="field-group">-->
                <!--<label for="tag">Tag</label>-->
                <!--<input class="text long-field" disabled="true" type="text" id="tagname" name="tagname" value="SmoothFlow , SmoothFlow_Jira, HelpDesk">-->

            <!--</div>-->
            <div class="field-group">
                <label for="select-type">Select Type</label>
                <select class="select" ng-model="ticket.typeaa" id="select-type" name="select-type">
                    <option ng-repeat="typeaa in Tasktypes" value="{{typeaa}}">{{typeaa}}</option>
                </select>
            </div>
            <!-- <div class="field-group">
            <label for="Image">Attached Image</label> -->
            <!-- <input class="text long-field" disabled="true" type="text" id="url" name="url" ng-model="$root.imageUrl"> -->
            <fieldset>
                <!-- <legend>
                <span>Attached Image</span>
            </legend> -->
                <div class="field-group">
                    <label for="file">Upload file</label>
                    <input class="upfile" type="file" id="file" ng-click="uploadImage();" name="file-upload-image">
                    <!-- <input type="file" ng-file-select="uploadImage($files)" ng-model="imageSrc"> -->
                </div>

                <div class="field-group long-field">
                    <img ng-src="{{$root.imageUrl}}" ng-show="IsImageShow" id="image" style="border: 1px lightgrey solid;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;width: 200px;padding: 10px;background: #fff;">
                </div>

            </fieldset>
        </form>
    </div>
    <footer class="aui-dialog2-footer">
        <div class="aui-dialog2-footer-actions">
            <button class="aui-button" ng-click="CreateTicket(ticket)">Create</button>
        </div>
    </footer>
</section>