<div class="container">
    <header class="aui-page-header p-15">
        <div class="aui-page-header-inner">
            <div class="aui-page-header-main">
                <h4>{{selectedRule.ruleName}} fields</h4>
            </div>
            <div class="aui-toolbar2-secondary">
                <div id="button-set2" class="aui-buttons">
                    <button id="newvariable-show-button" class="aui-button aui-button-primary" ng-click="editRule()">Add new</button>
                </div>
            </div>
        </div>
    </header>
    <form class="aui">
        <table class="aui aui-table-sortable" id="currentRulesSortable">
            <thead>
                <tr>
                    <th id="key">Field Name</th>
                    <th id="value">Field Data</th>
                    <th id="category">Category</th>
                    <th id="datatype">Data Type</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="allVariables.length == 0" class="empty-list-msg" style="border: none;">
                    <td colspan="4" class="text-center" style="text-align: center;color: #aaaaaa;">There are no variables available in this Rule.</td>
                </tr>
                <tr ng-repeat="flowVariable in allVariables" class="tr-input">
                    <td>
                        <span ng-if="variableEditOn != 'SelectedVarible'+$index">{{flowVariable.Key}}</span>
                        <div class="wrap field-group" ng-if="variableEditOn == 'SelectedVarible'+$index">
                            <span class="value">
                        <input class="text long-field" type="text"
                               id="varkey" name="key" ng-model="selectedVaribleToEdit.Key">
                    </span>
                        </div>
                    </td>
                    <td>
                        <span ng-if="variableEditOn != 'SelectedVarible'+$index">{{flowVariable.Value}}</span>
                        <div class="wrap field-group" ng-if="variableEditOn == 'SelectedVarible'+$index">
                            <span class="value">
                        <input class="text long-field" type="text"
                               id="varvalue" name="value" ng-model="selectedVaribleToEdit.Key">
                    </span>
                        </div>
                    </td>
                    <td>
                        <span ng-if="variableEditOn != 'SelectedVarible'+$index">{{flowVariable.Category}}</span>
                        <div class="wrap field-group" ng-if="variableEditOn == 'SelectedVarible'+$index">
                            <span class="value">
                        <select class="select" name="projects" ng-model="selectedVaribleToEdit.Category">
                             <option value="Custom">Custom</option>
                            <option value="InArgument">InArgument</option>
                            <option value="OutArgument">OutArgument</option>
                        </select>
                    </span>
                        </div>
                    </td>
                    <td>
                        <span ng-if="variableEditOn != 'SelectedVarible'+$index">{{flowVariable.DataType}}</span>
                        <div class="wrap field-group" ng-if="variableEditOn == 'SelectedVarible'+$index">
                            <span class="value">
                        <select class="select" name="projects" ng-model="selectedVaribleToEdit.DataType">
                            <option value="string">string</option>
                            <option value="int">int</option>
                            <option value="float">float</option>
                            <option value="boolean">boolean</option>
                        </select>
                    </span>
                        </div>
                    </td>
                    <td width="10">
                        <button ng-if="variableEditOn != 'SelectedVarible'+$index" aria-controls="compact-button-dropdown" class="aui-button aui-button-compact aui-button-subtle aui-dropdown2-trigger-arrowless"
                            resolved="" ng-click="editVariable(flowVariable, $index)">
                    <span class="aui-icon aui-icon-small aui-iconfont-edit">Edit</span>
                </button>
                        <button ng-if="variableEditOn == 'SelectedVarible'+$index" aria-controls="compact-button-dropdown" class="aui-button aui-button-compact aui-button-subtle aui-dropdown2-trigger-arrowless"
                            resolved="" ng-click="saveVariable(selectedVaribleToEdit, $index)">
                    <span class="aui-icon aui-icon-small aui-iconfont-success">Done</span>
                </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>

    <div>


        <span ng-repeat="var in AdditionalVariable" style=" background: #3672af; padding: 10px 18px 10px 18px;margin: 12px; display: inline-block;border-radius: 37px;color: snow;">
        <span style="pointer-events: auto; cursor: pointer;" ng-click="addtoMainList(var,$event)">{{var.Key}} </span>
        </span>
    </div>


    <div ng-include="'content/rule/variables/rule-newvariable-aui.html'"></div>
    <script>
        //		AJS.tablessortable.setTableSortable(AJS.$("#currentRulesSortable"));
        AJS.$("#newvariable-show-button").click(function () {
            AJS.dialog2("#new-variable-dialog").show();
        });
    </script>

</div>