<div class="container mt-20">
    <table class="aui aui-table-sortable" id="currentRulesSortable">
        <thead>
            <tr>
                <th class="aui-table-column-issue-key" id="name">Rule Name</th>
                <th id="description">Description</th>
                <th id="createddate">Last Updated</th>
                <th id="createdby">Created By</th>
                <th id="status">Status</th>
                <!--<th class="aui-table-column-issue-key">Issue key</th>-->
                <!--<th>Name</th>-->
                <!--<th>Age</th>-->
                <!--<th class="aui-table-column-unsortable">Description</th>-->
                <tr>
        </thead>
        <tbody>
            <tr class="clikbl-list-item" ng-repeat="rule in currentRules" ng-click="openSelectedRule(rule, true)">
                <td headers="name">{{rule.ruleName}}</td>
                <td headers="description" style="width: 250px;" ng-if="rule.description == '' || rule.description == null || rule.description == undefined">-</td>
                <td headers="description" style="width: 250px;" ng-if="rule.description.length <= 25">{{rule.description}}</td>
                <td headers="description" style="width: 250px;" ng-if="rule.description.length > 25">{{rule.description | limitTo:23}} ...</td>
                <!-- <td headers="project" class="avatar-text">
            <span class="aui-avatar aui-avatar-xsmall">
                <span class="aui-avatar-inner">
                    <img src="core/images/cc-cygil.png">
                </span>
            </span>
                <span class="avatar-text">CloudCharge</span>
            </td> -->
                <td headers="createddate">{{rule.createdDate | date : 'short'}}</td>
                <td headers="action" class="avatar-text">
                    <span class="aui-avatar aui-avatar-xsmall">
                        <span class="aui-avatar-inner">
                            <img ng-src="{{rule.avatar}}">
                        </span>
                    </span>
                    <span class="avatar-text">{{rule.createdBy}}</span>
                    <!--<img src="core/images/useravatar.png" alt="" class="micro-img img-circle">{{rule.createdBy}}-->
                </td>
                <td class="list-state" headers="action">
                    <!--<span ng-if="rule.status == '...'" class="glyphicon glyphicon-refresh glyphicon-spin"></span>-->
                    <!--<span ng-if="rule.status == 'Published'" class="glyphicon glyphicon-floppy-saved ico-published"></span>-->
                    <!--<span ng-if="rule.status == 'Saved'" class="glyphicon glyphicon-floppy-disk ico-saved"></span> {{rule.status}}-->
                    <span class="aui-list-pill {{rule.status.toLowerCase()}}">{{rule.status}}</span>
                </td>
            </tr>
        </tbody>
    </table>
    <script>
        AJS.tablessortable.setTableSortable(AJS.$("#currentRulesSortable"));
    </script>
</div>
<!--<table class="aui">-->
<!--<thead>-->
<!--<tr>-->
<!--<th id="name">Rule Name</th>-->
<!--<th id="project">Project</th>-->
<!--<th id="createddate">Created Date</th>-->
<!--<th id="createdby">Created By</th>-->
<!--<th id="status">Status</th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tbody>-->
<!--<tr class="clikbl-list-item" ng-repeat="rule in currentRules" ng-click="openSelectedRule(rule, true)">-->
<!--<td headers="name">{{rule.ruleName}}</td>-->
<!--<td headers="project" class="avatar-text">-->
<!--<span class="aui-avatar aui-avatar-xsmall">-->
<!--<span class="aui-avatar-inner">-->
<!--<img src="core/images/cc-cygil.png">-->
<!--</span>-->
<!--</span>-->
<!--<span class="avatar-text">CloudCharge</span>-->
<!--&lt;!&ndash;<img src="core/images/cc-cygil.png" alt="" class="micro-img">CloudCharge&ndash;&gt;-->
<!--</td>-->
<!--<td headers="createddate">{{rule.createdDate | limitTo: 15}}</td>-->
<!--<td headers="action" class="avatar-text">-->
<!--<span class="aui-avatar aui-avatar-xsmall">-->
<!--<span class="aui-avatar-inner">-->
<!--<img src="core/images/useravatar.png">-->
<!--</span>-->
<!--</span>-->
<!--<span class="avatar-text">{{rule.createdBy}}</span>-->
<!--&lt;!&ndash;<img src="core/images/useravatar.png" alt="" class="micro-img img-circle">{{rule.createdBy}}&ndash;&gt;-->
<!--</td>-->
<!--<td class="list-state" headers="action">-->
<!--<span ng-if="rule.status == 'Published'" class="glyphicon glyphicon-floppy-saved ico-published"></span>-->
<!--<span ng-if="rule.status == 'Saved'" class="glyphicon glyphicon-floppy-disk ico-saved"></span> {{rule.status}}-->
<!--</td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->