<div class="container mt-20">
    <table class="aui aui-table-sortable" id="currentRulesSortable">
        <thead>
            <div class="clikbl-list-header">
                <div style="float: left;width: 90%">
                    <div class="header-block" id="name" style="width: 20%">
                        Automation name
                        <sf-sort item-list="currentRules" header-list="headerListArray" prop-name="'ruleName'"></sf-sort>
                    </div>
                    <div class="header-block" id="description" style="width: 20%">
                        Description
                        <sf-sort item-list="currentRules" header-list="headerListArray" prop-name="'description'"></sf-sort>
                    </div>
                    <div class="header-block" id="createddate" style="width: 15%">
                        Last updated
                        <sf-sort item-list="currentRules" header-list="headerListArray" prop-name="'createdDate'"></sf-sort>
                    </div>
                    <div class="header-block" id="createdby" style="width: 20%">
                        Last updated by
                        <sf-sort item-list="currentRules" header-list="headerListArray" prop-name="'createdBy'"></sf-sort>
                    </div>
                    <div class="header-block" id="executions" style="width: 15%">
                        Execution count
                        <sf-sort item-list="currentRules" header-list="headerListArray" prop-name="'executions'"></sf-sort>
                    </div>
                    <div class="header-block" id="status" style="width: 10%">
                        Status
                        <sf-sort item-list="currentRules" header-list="headerListArray" prop-name="'status'"></sf-sort>
                    </div>
                </div>
                <div style="float: left;width: 10%">
                    <div class="header-block" id="action" style="width: 10%">Action</div>
                    <!--<th class="aui-table-column-issue-key">Issue key</th>-->
                    <!--<th>Name</th>-->
                    <!--<th>Age</th>-->
                    <!--<th class="aui-table-column-unsortable">Description</th>-->
                </div>
            </div>
        </thead>
        <tbody>
            <!--<tr class="clikbl-list-item" ng-repeat="rule in currentRules" ng-click="openSelectedRule(rule, true)">-->
                <!--&lt;!&ndash;<td headers="name" ng-if="rule.ruleName.length <= 25">{{rule.ruleName}}</td>&ndash;&gt;-->
                <!--<td headers="name">{{rule.ruleName.length > 25 ? rule.ruleName.substring(0, 23)+'...' : rule.ruleName}}</td>-->

                <!--&lt;!&ndash;Description UI&ndash;&gt;-->
                <!--<td headers="description" ng-if="rule.description == null">-</td>-->
                <!--<td headers="description" ng-if="rule.description != null">{{rule.description.length > 25 ? rule.description.substring(0, 23)+'...' : rule.description}}</td>-->
                <!--&lt;!&ndash;Description UI&ndash;&gt;-->

                <!--&lt;!&ndash; <td headers="project" class="avatar-text">-->
                <!--<span class="aui-avatar aui-avatar-xsmall">-->
                    <!--<span class="aui-avatar-inner">-->
                        <!--<img src="core/images/cc-cygil.png">-->
                    <!--</span>-->
                <!--</span>-->
                    <!--<span class="avatar-text">CloudCharge</span>-->
                <!--</td> &ndash;&gt;-->
                <!--<td headers="createddate">{{rule.createdDate | date : 'yyyy-mm-dd'}}</td>-->
                <!--<td headers="action" class="avatar-text">-->
                    <!--<span class="aui-avatar aui-avatar-xsmall">-->
                        <!--<span class="aui-avatar-inner">-->
                            <!--<img ng-src="{{rule.avatar}}">-->
                        <!--</span>-->
                    <!--</span>-->
                    <!--<span class="avatar-text">{{rule.createdBy}}</span>-->
                    <!--&lt;!&ndash;<img src="core/images/useravatar.png" alt="" class="micro-img img-circle">{{rule.createdBy}}&ndash;&gt;-->
                <!--</td>-->
                <!--<td headers="executions">{{rule.executions}}</td>-->
                <!--<td class="list-state" headers="action">-->
                    <!--&lt;!&ndash;<span ng-if="rule.status == '...'" class="glyphicon glyphicon-refresh glyphicon-spin"></span>&ndash;&gt;-->
                    <!--&lt;!&ndash;<span ng-if="rule.status == 'Published'" class="glyphicon glyphicon-floppy-saved ico-published"></span>&ndash;&gt;-->
                    <!--&lt;!&ndash;<span ng-if="rule.status == 'Saved'" class="glyphicon glyphicon-floppy-disk ico-saved"></span> {{rule.status}}&ndash;&gt;-->
                    <!--<span class="aui-list-pill {{rule.status.toLowerCase()}}">{{rule.status}}</span>-->
                <!--</td>-->
                <!--<td headers="actions">-->
                    <!--<aui-toggle id="automationStatus" class="list-toggle" label="Schedules Active" ng-disabled="rule.status == 'Draft'" ng-checked="rule.action" ng-click="updateRuleAction(rule)"></aui-toggle> <span style="position:relative;top: -3px">{{rule.action ? 'Active' : 'Inactive'}}</span>-->
                <!--</td>-->
            <!--</tr>-->
            <div class="clikbl-list-item" ng-repeat="rule in currentRules" style="overflow: auto;border-bottom: solid 1px #eee">
                <div ng-click="openSelectedRule(rule, true)" style="width: 90%;float: left">
                    <!--<td headers="name" ng-if="rule.ruleName.length <= 25">{{rule.ruleName}}</td>-->
                    <div headers="name" style="float: left;width: 20%;padding: 5px">{{rule.ruleName.length > 25 ? rule.ruleName.substring(0, 23)+'...' : rule.ruleName}}</div>

                    <!--Description UI-->
                    <div headers="description" ng-if="rule.description == null" style="float: left;width: 20%;padding: 5px">-</div>
                    <div headers="description" ng-if="rule.description != null" style="float: left;width: 20%;padding: 5px">{{rule.description.length > 25 ? rule.description.substring(0, 23)+'...' : rule.description}}</div>
                    <!--Description UI-->

                    <!-- <td headers="project" class="avatar-text">
                    <span class="aui-avatar aui-avatar-xsmall">
                        <span class="aui-avatar-inner">
                            <img src="core/images/cc-cygil.png">
                        </span>
                    </span>
                        <span class="avatar-text">CloudCharge</span>
                    </td> -->
                    <div headers="createddate" style="float: left;width: 15%;padding: 5px">{{rule.createdDate | date : 'yyyy-mm-dd'}}</div>
                    <div headers="action" class="avatar-text" style="float: left;width: 20%;padding: 5px">
                        <span class="aui-avatar aui-avatar-xsmall">
                            <span class="aui-avatar-inner">
                                <img ng-src="{{rule.avatar}}">
                            </span>
                        </span>
                        <span class="avatar-text">{{rule.createdBy}}</span>
                        <!--<img src="core/images/useravatar.png" alt="" class="micro-img img-circle">{{rule.createdBy}}-->
                    </div>
                    <div headers="executions" style="float: left;width: 15%;padding: 5px">{{rule.executions}}</div>
                    <div class="list-state" headers="action" style="float: left;width: 10%;padding: 5px">
                        <!--<span ng-if="rule.status == '...'" class="glyphicon glyphicon-refresh glyphicon-spin"></span>-->
                        <!--<span ng-if="rule.status == 'Published'" class="glyphicon glyphicon-floppy-saved ico-published"></span>-->
                        <!--<span ng-if="rule.status == 'Saved'" class="glyphicon glyphicon-floppy-disk ico-saved"></span> {{rule.status}}-->
                        <span class="aui-list-pill {{rule.status.toLowerCase()}}">{{rule.status}}</span>
                    </div>
                </div>
                <div headers="actions" style="width: 10%;float: left;padding: 5px">
                    <aui-toggle id="automationStatus" class="list-toggle" label="Schedules Active" ng-disabled="rule.status != 'Published'" ng-checked="rule.action" ng-click="updateRuleAction(rule)"></aui-toggle> <span style="position:relative;top: -5px">{{rule.action ? 'Active' : 'Inactive'}}</span>
                </div>
            </div>
        </tbody>
    </table>
    <script>
        AJS.tablessortable.setTableSortable(AJS.$("#currentRulesSortable"));
    </script>
</div>
<!--<table class="aui">-->
<!--<thead>-->
<!--<tr>-->
<!--<th id="name">Rule Name</th>-->
<!--<th id="project">Project</th>-->
<!--<th id="createddate">Created Date</th>-->
<!--<th id="createdby">Created By</th>-->
<!--<th id="status">Status</th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tbody>-->
<!--<tr class="clikbl-list-item" ng-repeat="rule in currentRules" ng-click="openSelectedRule(rule, true)">-->
<!--<td headers="name">{{rule.ruleName}}</td>-->
<!--<td headers="project" class="avatar-text">-->
<!--<span class="aui-avatar aui-avatar-xsmall">-->
<!--<span class="aui-avatar-inner">-->
<!--<img src="core/images/cc-cygil.png">-->
<!--</span>-->
<!--</span>-->
<!--<span class="avatar-text">CloudCharge</span>-->
<!--&lt;!&ndash;<img src="core/images/cc-cygil.png" alt="" class="micro-img">CloudCharge&ndash;&gt;-->
<!--</td>-->
<!--<td headers="createddate">{{rule.createdDate | limitTo: 15}}</td>-->
<!--<td headers="action" class="avatar-text">-->
<!--<span class="aui-avatar aui-avatar-xsmall">-->
<!--<span class="aui-avatar-inner">-->
<!--<img src="core/images/useravatar.png">-->
<!--</span>-->
<!--</span>-->
<!--<span class="avatar-text">{{rule.createdBy}}</span>-->
<!--&lt;!&ndash;<img src="core/images/useravatar.png" alt="" class="micro-img img-circle">{{rule.createdBy}}&ndash;&gt;-->
<!--</td>-->
<!--<td class="list-state" headers="action">-->
<!--<span ng-if="rule.status == 'Published'" class="glyphicon glyphicon-floppy-saved ico-published"></span>-->
<!--<span ng-if="rule.status == 'Saved'" class="glyphicon glyphicon-floppy-disk ico-saved"></span> {{rule.status}}-->
<!--</td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->