<div id="workflow-components" ng-class="{'dynamic-shadow-l':componentsMenuState == 'open','border-temp':componentsMenuState == 'open'}">
    <div class="toggle-components" ng-click="toggleComponentsMenu(null,null,null,'trigger',null)">
        <span class="aui-icon aui-icon-small aui-iconfont-{{componentsMenuState == 'open' ? 'arrows-right' : 'arrows-left'}} prop-header-ico"></span>
        <!--<span class="glyphicon glyphicon-menu-{{componentsMenuState == 'open' ? 'right' : 'left'}}"></span>-->
    </div>
    <div id="components-wrap" ng-class="{'fade-in':componentsMenuState == 'open', 'fade-out':componentsMenuState == 'closed'}">
        <div class="comp-panel" ng-repeat="component in structuredComps">
             <!--ng-if="component.Name.toLowerCase() != 'triggers'">-->
            <div class="comp-panel-heading" ng-click="setInitialCollapse($index)">
                <!--<div class="b-shadow"></div>-->
                <span class="menu-name">
                    <!--<img src="core/images/{{component.Name | lowercase}}.svg" /> -->
                    <span class="aui-icon aui-icon-small aui-iconfont-component">Component</span>
                    {{component.Name}}
                </span>
                <span class="aui-icon aui-icon-small aui-iconfont-{{currentOpenMenu == $index ? 'expanded' : 'collapsed'}} menu-state"></span>
                <!--<span class="glyphicon menu-state" ng-class="currentOpenMenu == $index ? 'glyphicon-minus' : 'glyphicon-plus'"></span>-->
                <!--<span class="comp-search-icon glyphicon glyphicon-search" ng-if="ico"></span>-->
            </div>
            <div class="comp-search">
                <span class="aui-icon aui-icon-small aui-iconfont-search-small search-input-icon">Search components</span>
                <input id="quicksearchcomp" class="search" type="text" placeholder="Search.." name="quicksearchcomp" ng-model="compToFilter" ng-change="toggleAllComps(compToFilter)">
            <!--<input type="text" class="form-control" >-->
            </div>
            <div id="comp-panel-{{component.Name.toLowerCase()}}" class="comp-panel-collapse custom-scroll">
                <div ng-repeat="cls in component.classes | filter:compToFilter">
                    <div class="clearfix comp-toggle-header" ng-click="toggleCompGroup(cls.title)">
                        <span>{{cls.title}}</span>
                        <span class="aui-icon aui-icon-small aui-iconfont-{{activeCompGroup == cls.title && isGroupOpen ? 'expanded' : 'collapsed'}}"></span>
                    </div>
                    <div ng-show="activeCompGroup == cls.title && isGroupOpen || expandAll" ng-hide="activeCompGroup != cls.title" class="inner-comp-panel">
                        <div ng-repeat="cat in cls.categories | filter:compToFilter">
                            <div class="clearfix comp-toggle-header inner-header" ng-click="toggleInnerCompGroup(cat.title)">
                                <span>{{cat.title}}</span>
                                <span class="aui-icon aui-icon-small aui-iconfont-{{activeInnerCompGroup == cat.title && isInnerGroupOpen ? 'expanded' : 'collapsed'}}"></span>
                            </div>
                            <div ng-show="activeInnerCompGroup == cat.title && isInnerGroupOpen || expandAll" ng-hide="activeInnerCompGroup != cat.title">
                                <button ng-repeat="comp in cat.data | filter:compToFilter" class="template-block" ng-disabled="callFromSwitch && comp.ControlType == 'action' || !callFromSwitch && comp.DisplayName == 'Case' || !callFromSwitch && comp.DisplayName == 'Default' || !callFromSwitch && comp.DisplayName == 'Fallthrough' || callFromSwitch && comp.DisplayName == 'If' || callFromSwitch && comp.DisplayName == 'Switch'" ng-click="newComponentInjection(comp)" ng-class="{'disabled-com':callFromSwitch && comp.ControlType == 'action' || !callFromSwitch && comp.DisplayName == 'Case' || !callFromSwitch && comp.DisplayName == 'Default' || !callFromSwitch && comp.DisplayName == 'Fallthrough' || callFromSwitch && comp.DisplayName == 'If' || callFromSwitch && comp.DisplayName == 'Switch'}">
                                    <div class="template-left">
                                        <!--<div class="template-icon" ng-class="comp.ControlType">{{comp.ControlType | limitTo:1 | uppercase}}</div>-->
                                        <div class="template-icon" style="background-image: url('http://www.smoothflow.io/wp-content/themes/smoothflow/images/{{comp.webicon}}')"></div>
                                    </div>
                                    <div class="template-right">
                                        <div class="template-heading">{{comp.DisplayName}}</div>
                                        <div class="template-body">{{comp.Description}}</div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div ng-repeat="component in structuredComps">-->
            <!--<h3>{{component.Name}}</h3>-->
            <!--<div ng-repeat="cls in component.classes | filter:compToFilter ">-->
                <!--<h4>{{cls.title}}</h4>-->
                <!--<div ng-repeat="cat in cls.categories | filter:compToFilter ">-->
                    <!--<h5>{{cat.title}}</h5>-->
                    <!--<div ng-repeat="comp in cat.data | filter:compToFilter ">-->
                        <!--{{comp.DisplayName}}-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>