<div class="container">

    <header class="aui-page-header p-15 ph-0">
        <div class="aui-page-header-inner">
            <div class="aui-page-header-main">
                <h4>Feedback</h4>
            </div>
            <button id="NewFeedback" style="float: right;" ng-hide="IsNew" ng-click="CreateNewTicket(IsNew)" class="aui-button">New</button>
            <button id="NewFeedback" style="float: right;" ng-show="IsNew" ng-click="CreateNewTicket(IsNew)" class="aui-button">Details</button>
        </div>
    </header>
    <div class="clearfix">
        <div ng-hide="IsNew">
            <div class="aui-group" id="FeedbackSection">

                <div class="aui-item-container projects">
                    <div class="shadowed-item">

                        <h5 class="project-header">Feedback</h5>
                        <!-- <div ng-hide="IsNew"> -->
                        <form class="aui m-0">
                            <fieldset class="group">

                                <input placeholder="Search Feedback" class="text long-field selected-search" type="text" id="searchFeedback" name="searchFeedback"
                                    ng-model="Feedbacksearch" style="margin-top: 10px;">
                                <span class="aui-icon aui-icon-small aui-iconfont-search-small search-input-icon">Search projects</span>
                                <div class="sf-padding select-item-body custom-scroll">
                                    <ul class="unstyled project-list">
                                        <li ng-repeat="task in tasklist| filter : Feedbacksearch" style="border-bottom: 1px solid #d0d0d0;" ng-click="IsCommentShow=!IsCommentShow">
                                            <h5>
                                                <b>{{task.subject}}</b>
                                            </h5>
                                            <span>{{task.description}}</span>
                                            <div style="float: right;">
                                                <p style="color: #757575;;font-size: 12px;">
                                                    <span style="padding: 5px;border-radius: 5px;">{{task.created_at| date:'medium'}}</span>
                                                    <span style="background: #d8d8d8;padding: 5px;border-radius: 5px;"> Status: {{task.status}}</span>
                                                    <span style="background: #ffffff;padding: 5px;border-radius: 5px;"> Type </span> :
                                                    <span ng-class="{'bug': task.type == 'Bug','improvement': task.type == 'Improvement','complain': task.type == 'Complain','suggestion': task.type == 'Suggestion'}">{{task.type}} </span>
                                                    <span style="background: #ffffff;padding: 5px;border-radius: 5px;"> Priority</span> :
                                                    <span style="background: #ffffff;padding: 5px;border-radius: 5px;">{{task.priority}} </span>
                                                </p>
                                            </div>
                                            <div ng-show="IsCommentShow">
                                                <div style="background: #e2e2e2;padding-left: 11px;color: #757575;padding-right: 11px;">
                                                    <item ng-repeat="tasks in comments ">
                                                        <p style="border-bottom: snow;border-bottom-style: solid;border-bottom-width: medium;">
                                                            <img ng-if="tasks.author_external==undefined" style="padding:5px;width: 40px" ng-src="{{tasks.author.avatar}}" />
                                                            <span> {{tasks.author_external==undefined ? tasks.author.firstname:
                                                                tasks.author_external.firstname}} : {{tasks.body}}</span>
                                                            <span style="float: right;color: #757575">{{tasks.created_at| date:'medium'}}</span>
                                                        </p>
                                                    </item>
                                                </div>



                                                <!-- <span>comment</span>
                                                <input class="text long-field" type="text" id="comments" name="comments" ng-model="ticket.comments"><button></button> -->
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </fieldset>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <div ng-show="IsNew">
            <div class="aui-group" id="FeedbackCreate">

                <div class="aui-item-container projects">
                    <div class="shadowed-item">

                        <h5 class="project-header">New Feedback</h5>
                        <!-- <div ng-hide="IsNew"> -->
                        <form class="aui m-0">
                            <div class="field-group">
                                <label for="TicketName">Ticket Name
                                    <span class="aui-icon icon-required">(required)</span>
                                </label>
                                <input class="text long-field" type="text" id="TicketName" name="TicketName" ng-model="ticket.taskcode">

                            </div>
                            <div class="field-group">
                                <label for="description">Description</label>
                                <textarea class="textarea" name="description-input" id="description-input" ng-model="ticket.description" placeholder="Description"></textarea>
                            </div>
                            <div class="field-group">
                                <label for="tag">Tag</label>
                                <input class="text long-field" disabled="true" type="text" id="tagname" name="tagname" value="SmoothFlow , SmoothFlow_Jira">

                            </div>
                            <div class="field-group">
                                <label for="select-type">Select Type</label>
                                <select class="select" ng-model="ticket.typeaa" id="select-type" name="select-type">
                                    <option ng-repeat="typeaa in Tasktypes" value="{{typeaa}}">{{typeaa}}</option>
                                </select>
                            </div>
                            <div class="field-group">
                                <label for="Image">Attached Image</label>
                                <input class="text long-field" disabled="true" type="text" id="url" name="url" ng-model="$root.imageUrl">
                            </div>
                            <fieldset>
                                <!-- <legend>
                                    <span>Attached Image</span>

                                </legend> -->
                                <!-- <div class="field-group">
                                    <label for="file-upload-image">Upload file</label>
                                    <input class="upfile" type="file" id="file-upload-image" name="file-upload-image">
                                </div> -->
                                <button class="aui-button" ng-click="CreateTicket(ticket)">
                                    <span class="aui-icon aui-icon-small aui-iconfont-add">Add</span> Create</button>
                            </fieldset>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>