<div id="workflow-properties">
    <h4 class="property-heading"> <span class="aui-icon aui-icon-small aui-iconfont-configure prop-header-ico"></span> {{selectedModule.DisplayName}}</h4>
    <form>
        <div id="property-wrap" class="custom-scroll dark">
            <div class="description">{{selectedModule.Description}}</div>
            <!--div class="property-field-wrap form-group">
                <textarea name="module_description" id="" ng-model="selectedModule.Description" class="form-control"></textarea>
            </div>-->

            <div class="property-field-wrap" ng-repeat="var in selectedModule.Variables">

                <div class="aui-tabs horizontal-tabs">
                    <ul class="tabs-menu">
                        <li class="menu-item">
                            <a ng-click="scrollTo('tab1')">Basic</a>
                        </li>
                        <li class="menu-item ">
                            <a ng-click="scrollTo('tab2')">Advance</a>
                        </li>
                    </ul>
                    <div class="tabs-pane active-pane" id="tab1" ng-show="tab=='tab1'" style="padding-top: 34px;">
                        <h2>Basic</h2>

                    </div>
                    <div class="tabs-pane active-pane" id="tab2" ng-show="tab=='tab2'" style="padding-top: 34px;">
                        <div class="heading">{{var.Key}}</div>

                        <div class="type {{var.DataType}}">{{var.DataType == 'int' ? 'integer' : var.DataType}}</div>
                        <span title="{{var.Category}}" ng-if="var.Category != ''" class="arg-ico glyphicon {{var.Category.replace('Argument','')}} {{var.Category.replace('Argument','') == 'In' ? 'glyphicon-log-in' : 'glyphicon-log-out'}}"></span>
                        <textcomplete args='args' message='var.Value'></textcomplete>
                    </div>
                </div>
            </div>
            <script>
                AJS.$(".arg-ico").tooltip();
            </script>
        </div>
    </form>
    <!--<div class="property-footer">-->
    <!--<div class="form-group">-->
    <!--<button class="btn btn-danger">Save</button>-->
    <!--<button class="btn btn-link">Cancel</button>-->
    <!--</div>-->
    <!--</div>-->
</div>