<div id="workflow-properties" ng-class="{'dynamic-shadow-l':componentsMenuState == 'closed'}">
    <h4 class="property-heading">
        <span class="aui-icon aui-icon-small aui-iconfont-configure prop-header-ico"></span> Properties {{'- '+selectedModule.DisplayName.toUpperCase()}}</h4>
    <form>
        <div id="property-wrap" class="custom-scroll dark">
            <div class="description">{{selectedModule.Description}}</div>
            <p ng-bind-html="{{selectedModule.help}}"></p>

            <ul ng-if="selectedModule.url.length > 0">
                <span>Resource </span>
                <li ng-repeat="urls in selectedModule.url" style="margin-top: 5px;">
                    <a href="{{urls.url}}">{{urls.name}}</a>
                </li>
            </ul>

            <!--div class="property-field-wrap form-group">
                <textarea name="module_description" id="" ng-model="selectedModule.Description" class="form-control"></textarea>
            </div>-->

            <div class="aui-tabs horizontal-tabs" ng-if="selectedModule.Variables.length > 0">
                <ul class="tabs-menu">
                    <li class="menu-item" ng-class="{'active-tab': tab==true}">
                        <a ng-click="scrollTo(true)" class="linkcolor">Advance</a>
                    </li>
                    <li class="menu-item" ng-class="{'active-tab': tab==false}">
                        <a ng-click="scrollTo(false)" class="linkcolor">Basic</a>
                    </li>
                </ul>
                <div class="tabs-pane active-pane">
                    <div class="property-field-wrap" ng-repeat="var in selectedModule.Variables" ng-if="var.advance == tab">
                        <div class="property-field-head">
                            <div class="heading">{{var.DisplayName}}</div>

                            <div class="type {{var.DataType}}">{{var.DataType == 'int' ? 'integer' : var.DataType}}</div>
                            <span title="{{var.Category}}" ng-if="var.Category != ''" class="arg-ico glyphicon {{var.Category.replace('Argument','')}} {{var.Category.replace('Argument','') == 'In' ? 'glyphicon-log-in' : 'glyphicon-log-out'}}"></span>
                        </div>

                        <!-- <textcomplete args='args' message='var.Value'></textcomplete> -->

                        <div flex ng-if="var.control=='Textbox'">
                            <textcomplete args='args' message='var.Value' placeholders='var.placeholder'></textcomplete>
                        </div>
                        <div flex ng-if="var.control=='Dropdown'">
                            <dropdown args='args' message='var.Value' all='var.ValueList'></dropdown>
                        </div>
                    </div>


                    <!--Dropdonw from API directive - TEST CODE-->
                    <div flex>
                        <sf-api-dd funcstring="testObj.title+'()'" res="testStringArray" sf-dd-selected="selectedDDItem"></sf-api-dd>
                    </div>
                    <!--Dropdonw from API directive - TEST CODE-->
                </div>

                <!--<div class="aui-tabs horizontal-tabs">-->
                <!--<ul class="tabs-menu">-->
                <!--<li class="menu-item" ng-class="{'active-tab': tab=='tab1'}">-->
                <!--<a ng-click="scrollTo('tab1')" class="linkcolor">Basic</a>-->
                <!--</li>-->
                <!--<li class="menu-item" ng-class="{'active-tab': tab=='tab2'}">-->
                <!--<a ng-click="scrollTo('tab2')" class="linkcolor">Advance</a>-->
                <!--</li>-->
                <!--</ul>-->
                <!--<div class="tabs-pane active-pane" id="tab1" ng-show="tab=='tab1'" ng-repeat="var in selectedModule.Variables">-->
                <!--<div ng-hide="var.advance">-->
                <!--<div class="heading">{{var.Key}}</div>-->

                <!--<div class="type {{var.DataType}}">{{var.DataType == 'int' ? 'integer' : var.DataType}}</div>-->
                <!--<span title="{{var.Category}}" ng-if="var.Category != ''" class="arg-ico glyphicon {{var.Category.replace('Argument','')}} {{var.Category.replace('Argument','') == 'In' ? 'glyphicon-log-in' : 'glyphicon-log-out'}}"></span>-->
                <!--<textcomplete args='args' message='var.Value'></textcomplete>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="tabs-pane active-pane" id="tab2" ng-show="tab=='tab2'" ng-repeat="var in selectedModule.Variables">-->

                <!--<div ng-show="var.advance">-->
                <!--<div class="heading">{{var.Key}}</div>-->

                <!--<div class="type {{var.DataType}}">{{var.DataType == 'int' ? 'integer' : var.DataType}}</div>-->
                <!--<span title="{{var.Category}}" ng-if="var.Category != ''" class="arg-ico glyphicon {{var.Category.replace('Argument','')}} {{var.Category.replace('Argument','') == 'In' ? 'glyphicon-log-in' : 'glyphicon-log-out'}}"></span>-->
                <!--<textcomplete args='args' message='var.Value'></textcomplete>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->

                <script>
                    AJS.$(".arg-ico").tooltip();
                </script>
            </div>
        </div>
    </form>
    <!--<div class="property-footer">-->
    <!--<div class="form-group">-->
    <!--<button class="btn btn-danger">Save</button>-->
    <!--<button class="btn btn-link">Cancel</button>-->
    <!--</div>-->
    <!--</div>-->

    <div class="overhead-container hidden-width right">
        <div class="overhead-container-header-small">
            <span class="aui-icon aui-icon-small aui-iconfont-help"></span>
            <h5>Tips on what to do here</h5>
            <!--<button class="aui-button" type="button">-->
            <!--<span class="aui-icon aui-icon-small aui-iconfont-{{selectedExpanded ? 'arrow-down' : 'arrow-up'}}">Show selected</span>-->
            <!--</button>-->
        </div>
        <div class="overhead-container-body">
            <div class="ul-headed dark">
                <h5>You may input</h5>
                <ul>
                    <li ng-repeat="input in selectedModule.Variables">
                        <div>Something as <i>*{{input.DisplayName}}*</i></div>

                        <div>
                            <div id="copy-{{input.DisplayName.replace(' ', '') | lowercase}}">*Sample data for <b>{{input.DisplayName}}</b> goes here</div>
                            <div class="copy-sample-controls" style="width: 100%;text-align: right">
                                <button class="aui-button" ng-click="copySampleToClipboard('copy-'+input.DisplayName.replace(' ', '') | lowercase)" style="color: #80DEEA">COPY</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="dark">
                <h5>Output</h5>
                <div>
                    <p>Automation output goes here</p>
                </div>
            </div>
        </div>
    </div>
</div>