<div class="container">
    <header class="aui-page-header p-15 ph-0">
        <div class="aui-page-header-inner">
            <div class="aui-page-header-main">
                <h4>Transaction Notifications</h4>
            </div>
        </div>
    </header>
    <div class="clearfix">
        <div ng-if="selectedRule.status == 'Published'">
            <p>You are able to set notification methods according to the status of an executed rule. Proivde your details to
                be notified with a log of the transaction.</p>
            <h5 class="content-sub-heading">On a successful transaction</h5>
            <div class="row">
                <input type="email" class="text long-field" ng-model="successemail" />
                <div id="button-set2" class="aui-buttons">
                    <button id="newvariable-show-button" class="aui-button aui-button-primary" ng-click="addNotificationMethod('success',successemail)">Add Email</button>
                </div>
                <form class="aui col-md-9 col-sm-9 col-xs-6" style="margin: 5px 0 0 0">
                    <table class="aui aui-table-sortable" id="currentVariablesSortable">
                        <thead>
                            <tr>
                                <th id="email">Email Address</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="successNotifications.length == 0" class="empty-list-msg" style="border: none;">
                                <td colspan="4" class="text-center" style="text-align: center;color: #aaaaaa;">There are no emails added to this field.</td>
                            </tr>
                            <tr ng-repeat="notification in successNotifications" class="tr-input action-input">
                                <td>
                                    <span ng-if="variableEditOn != 'SelectedVarible'+$index">{{notification}}</span>
                                </td>
                                <td>
                                    <button aria-controls="compact-button-dropdown" class="aui-button aui-button-compact aui-button-subtle aui-dropdown2-trigger-arrowless"
                                        ng-click="deleteFromNotificationMethod('success',notification, $index)">
                                        <span class="aui-icon aui-icon-small aui-iconfont-delete">Delete</span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <h5 class="content-sub-heading">On a failing transaction</h5>
            <div class="row">
                <input type="text" class="text long-field" ng-model="failedemail" />
                <div id="button-set2" class="aui-buttons">
                    <button id="newvariable-show-button" class="aui-button aui-button-primary" ng-click="addNotificationMethod('failed',failedemail)">Add Email</button>
                </div>
                <form class="aui col-md-9 col-sm-9 col-xs-6" style="margin: 5px 0 0 0">
                    <table class="aui aui-table-sortable" id="currentVariablesSortable">
                        <thead>
                            <tr>
                                <th id="email">Email Address</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="errorNotifications.length == 0" class="empty-list-msg" style="border: none;">
                                <td colspan="4" class="text-center" style="text-align: center;color: #aaaaaa;">There are no emails added to this field.</td>
                            </tr>
                            <tr ng-repeat="notification in errorNotifications" class="tr-input action-input">
                                <td>
                                    <span ng-if="variableEditOn != 'SelectedVarible'+$index">{{notification}}</span>
                                </td>
                                <td>
                                    <button aria-controls="compact-button-dropdown" class="aui-button aui-button-compact aui-button-subtle aui-dropdown2-trigger-arrowless"
                                        ng-click="deleteFromNotificationMethod('failed',notification, $index)">
                                        <span class="aui-icon aui-icon-small aui-iconfont-delete">Delete</span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>

        <div ng-if="selectedRule.status != 'Published'">
            <div class="text-center">
                <span class="aui-icon aui-icon-small aui-iconfont-error"></span>
                <h3>This rule is not yet published!</h3>
            </div>
            <div class="text-center">
                <h5>Please publish this rule to set notifications.</h5>
            </div>
        </div>
    </div>
</div>